@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  transition: 0.3s;
  font-family: "Poppines", sans-serif;
}

:root {
  --box-shadow: 10px 10px 50px rgb(185, 185, 185);
  --color-background: white;
  --color-white: white;
  --color-body: azure;
}

.dark-theme-variables {
  --color-background: #181a1e;
  --color-white: #202528;
  --color-dark: #edeffd;
  --color-dark-variant: #a3bdcc;
  --color-light: rgba(0, 0, 0, 0.4);
  --box-shadow: 0 2rem 3rem var(--color-light);
  --color-body: #181a1e;
}

body {
  width: 100%;
  height: 100vh;
  padding: 20px;
  display: grid;
  grid-template-columns: 17% auto 20%;
  background-color: var(--color-body);
}

aside {
  height: 100vh;
}

aside .name {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  gap: 12px;
  color: var(--color-dark);
}

aside .name i {
  font-size: 25px;
  margin-left: 20px;
  margin-top: 5px;
  color: rgb(233, 31, 75);
  cursor: pointer;
}

aside .box_1 .name i {
  display: none;
}

aside .name img {
  width: 35px;
  cursor: pointer;
}

aside .name h1 {
  text-transform: uppercase;
  font-weight: 800;
  cursor: pointer;
  font-size: 20px;
}

aside .name span {
  color: rgb(233, 31, 75);
}

aside .box_1 .buttons {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

aside .box_1 .buttons a {
  display: flex;
  text-decoration: none;
  align-items: center;
  padding: 15px 25px;
  color: grey;
}

aside .box_1 .buttons a h3 {
  font-size: 15px;
  font-weight: 600;
  padding-left: 20px;
}

aside .box_1 .buttons .logout {
  margin-top: 150px;
  margin-left: 5px;
}

aside .box_1 .buttons .dashboard {
  border-left: solid 6px;
  background-color: rgb(234, 212, 255);
  color: blueviolet;
  text-align: center;
}

aside .box_1 .buttons .messages p {
  color: white;
  padding: 5px 10px;
  background-color: rgb(233, 31, 75);
  border-radius: 5px;
  margin-left: 20px;
  font-size: 13px;
}

aside .box_1 .buttons a:hover span {
  margin-left: 1rem;
}

aside .box_1 .buttons a:hover {
  color: blueviolet;
}

.main {
  margin: 0 35px;
}

.main .container h1 {
  font-weight: 800;
  margin-bottom: 15px;
  color: var(--color-dark);
}

.main .container .date input {
  padding: 10px 28px;
  border: none;
  margin-bottom: 10px;
  background: none;
  background-color: #bec4eb;
  border-radius: 5px;
  cursor: pointer;
}

.main .container .card {
  width: 280px;
  height: 230px;
  background-color: var(--color-white);
  padding: 20px;
  border-radius: 30px;
  box-shadow: var(--box-shadow);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main .container .card:hover {
  box-shadow: none;
}

.main .container .card span {
  background-color: blueviolet;
  color: var(--color-white);
  padding: 6px;
  border-radius: 50%;
  margin-bottom: 20px;
  font-size: 30px;
}

.main .container .card h3 {
  font-size: 14px;
  font-weight: 800;
  width: 130px;
  color: var(--color-dark);
}

.main .container .card h1 {
  font-size: 27px;
  margin-top: 10px;
  color: var(--color-dark);
}

.main .container .card p {
  color: grey;
  font-size: 13px;
  margin-top: 25px;
}

.main .container .card .progress {
  margin-right: 40px;
  margin-bottom: 30px;
}

.main .container .card .progress .inner {
  padding: 20px;
  margin-left: 23px;
  border-radius: 50%;
}

.main .container .card .progress h6 {
  font-size: 18px;
  margin-top: 10px;
  color: var(--color-dark);
}

svg {
  position: absolute;
  width: 120px;
  height: 120px;
}

circle {
  fill: none;
  stroke: blueviolet;
  stroke-width: 12px;
  transform: translate(10px, -9px);
  stroke-dasharray: 472;
  stroke-dashoffset: 472;
  animation: anim 2s linear forwards;
}

.circle1 circle {
  animation: anime 2s linear forwards;
}

.circle2 circle {
  animation: animee 2s linear forwards;
}

@keyframes anim {
  100% {
    stroke-dashoffset: 285;
  }
}

@keyframes anime {
  100% {
    stroke-dashoffset: 345;
  }
}

@keyframes animee {
  100% {
    stroke-dashoffset: 370;
  }
}

.main .container .cards {
  display: flex;
  gap: 20px;
}

.main .container .card .bar span {
  background-color: red;
}

.main .container .card .stacked span {
  background-color: rgb(0, 214, 0);
}

.main h2 {
  font-size: 28px;
  font-weight: 800;
  margin-top: 25px;
  margin-bottom: 10px;
  color: var(--color-dark);
}

.main table {
  text-align: center;
  line-height: 32px;
  background-color: var(--color-white);
  padding: 15px 40px;
  width: 100%;
  border-radius: 30px;
  box-shadow: var(--box-shadow);
}

.main table tr th {
  color: var(--color-dark);
}

.main table:hover {
  box-shadow: none;
}

.main .show {
  margin-top: 15px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 14px;
  color: blueviolet;
  cursor: pointer;
}

.main table tbody td {
  height: 2.8rem;
  border-bottom: solid rgb(182, 182, 182) 1px;
  color: grey;
}

.main table tbody tr:last-child td {
  border: none;
}

.main table tbody td:last-child {
  color: rgb(156, 79, 227);
  cursor: pointer;
}

.main table tbody .pending {
  color: rgb(232, 232, 0);
}

.main table tbody .delivered {
  color: rgb(156, 79, 227);
}

.main table tbody .declined {
  color: rgb(230, 0, 0);
}

.right_side {
  height: 100vh;
  width: 100%;
}

.right_side .profile {
  display: flex;
  justify-content: space-between;
  text-align: right;
}

.right_side .profile .info {
  display: flex;
  gap: 10px;
}

.right_side .profile .info small {
  position: absolute;
  right: 4%;
  top: 6.5%;
  color: grey;
  font-size: 13px;
}

.right_side .profile .info h6 {
  margin-top: 4px;
  font-size: 15px;
  font-weight: 400;
  color: grey;
  color: var(--color-dark);
}

.right_side .profile .info h6 span {
  font-weight: 800;
  color: var(--color-dark);
}

.right_side .profile .info img {
  width: 50px;
  border-radius: 50%;
}

.right_side .profile .btn {
  background-color: rgb(219, 219, 219);
  height: 30px;
  border-radius: 5px;
  cursor: pointer;
}

.right_side .profile .btn span:first-child {
  color: white;
  background-color: blueviolet;
  border-radius: 5px;
  padding: 3px 10px;
}

.right_side .profile .btn span:last-child {
  padding: 3px 8px;
  margin-left: -2px;
  border-radius: 5px;
}

#menu-btn {
  display: none;
}

.right_side .review .pic img {
  border-radius: 50%;
  width: 100%;
}

.right_side .box_3 {
  margin-top: 20px;
  padding: 0px 10px;
}

.right_side .box_3 h2 {
  font-weight: 800;
  margin-bottom: 20px;
  color: var(--color-dark);
}

.right_side .box_3 .review {
  background-color: var(--color-white);
  display: grid;
  grid-template-columns: 2.6rem auto;
  padding: 20px 15px;
  border-radius: 25px;
  box-shadow: var(--box-shadow);
}

.right_side .box_3 .review:hover {
  box-shadow: none;
}

.right_side .box_3 .review .comment {
  padding: 0px 10px;
  margin-bottom: 15px;
}

.right_side .box_3 .review .comment h4 {
  font-size: 15px;
  line-height: 18px;
  color: var(--color-dark);
}

.right_side .box_3 .review .comment h4 span {
  color: grey;
  font-size: 14px;
  font-weight: 100;
}

.right_side .box_3 .review .comment p {
  font-size: 11px;
  margin-top: 5px;
  color: gray;
}

.box_4 {
  margin-top: 25px;
  margin-right: 5px;
}

.right_side .box_4 h2 {
  font-weight: 800;
  margin-bottom: 15px;
  color: var(--color-dark);
}

.right_side .box_4 .container {
  padding: 15px 15px;
  background-color: var(--color-white);
  display: grid;
  grid-template-columns: 2.6rem auto;
  border-radius: 15px;
  margin-bottom: 10px;
  box-shadow: var(--box-shadow);
}

.right_side .box_4 .container:hover {
  box-shadow: none;
}

.right_side .box_4 .container .icon span {
  color: var(--color-white);
  background-color: blueviolet;
  padding: 8px;
  font-size: 21px;
  border-radius: 50%;
}

.right_side .box_4 .container .icon1 span {
  color: var(--color-white);
  background-color: rgb(254, 0, 144);
  padding: 8px;
  font-size: 21px;
  border-radius: 50%;
}

.right_side .box_4 .container .icon2 span {
  color: var(--color-white);
  background-color: rgb(0, 255, 153);
  padding: 8px;
  font-size: 21px;
  border-radius: 50%;
}

.right_side .box_4 .container .details {
  margin-left: 5px;
  margin-top: 4px;
}

.right_side .box_4 .container .details h4 {
  font-size: 14px;
  display: flex;
  gap: 13px;
  color: var(--color-dark);
}

.right_side .box_4 .container .details p {
  font-size: 11px;
  color: grey;
  margin-top: 5px;
}

.right_side .box_4 .container .details .green {
  color: rgb(0, 255, 153);
}

.right_side .box_4 .container .details .red {
  color: rgb(254, 0, 144);
}

.box_4 .btn {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.box_4 .btn button {
  border: none;
  display: flex;
  gap: 15px;
  align-items: center;
  cursor: pointer;
  background-color: rgb(230, 205, 254);
  padding: 15px 83px;
  border-radius: 15px;
  box-shadow: var(--box-shadow);
  border: dashed 2px rgb(130, 52, 202);
}

.box_4 .btn button b {
  color: rgb(130, 52, 202);
  font-size: 25px;
}

.box_4 .btn button:hover b {
  color: var(--color-white);
  transition: 0.2s;
}

.box_4 .btn button:hover span strong {
  color: var(--color-white);
  transition: 0.2s;
}

.box_4 .btn button span {
  color: rgb(130, 52, 202);
  font-size: 15px;
}

.box_4 .btn button:hover {
  box-shadow: none;
  background-color: blueviolet;
  transition: 0.1s;
}

@media screen and (max-width: 768px) {
  body {
    width: 100%;
    grid-template-columns: 1fr;
    margin-left: 7px;
  }
  .aside {
    position: fixed;
    left: -100%;
    top: 0;
    width: 250px;
    z-index: 3;
    height: 100vh;
    background-color: white;
    background-color: var(--color-background);
    box-shadow: var(--box-shadow);
    display: none;
    animation: showMenu 1s forwards;
  }

  @keyframes showMenu {
    to {
      left: 0;
    }
  }

  .aside h1 {
    margin-top: 10px;
  }
  .aside .name img {
    margin-left: 10px;
    margin-top: 10px;
  }
  .aside .box_1 .buttons {
    margin-left: 0%;
  }
  .aside .name #close-btn {
    display: inline-block;
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 12px;
  }
  .aside .buttons .logout {
    position: absolute;
    bottom: 5%;
  }
  .main {
    margin: 0;
    width: 100%;
    margin-top: 60px;
  }
  .main .container .cards {
    flex-direction: column;
  }

  .main .container .cards .card {
    width: 100%;
  }

  .main .recent_orders table {
    width: 100%;
    margin-top: 20px;
  }

  .main .recent_orders table tr td:first-child {
    display: none;
  }

  .main .recent_orders table tr td:last-child {
    display: none;
  }

  .main .recent_orders table tr th:first-child {
    display: none;
  }

  .right_side {
    width: 100%;
  }

  .right_side .profile {
    position: fixed;
    top: 0;
    left: 0;
    align-items: center;
    margin: 0;
    background-color: var(--color-background);
    width: 100%;
    height: 65px;
    box-shadow: var(--box-shadow);
    z-index: 2;
  }

  .right_side .box_3 {
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .right_side .box_4 .container .details h4 {
    justify-content: space-between;
  }

  .right_side .box_4 .btn button {
    width: 100%;
    justify-content: center;
  }

  .right_side .profile .btn {
    margin-left: 100px;
    height: 26px;
  }
  .right_side .profile .btn span {
    font-size: 20px;
  }
  .right_side .profile .info small {
    margin-right: 40px;
    margin-top: 30px;
  }

  .right_side .profile #menu-btn {
    display: inline-block;
    margin-left: 20px;
    cursor: pointer;
  }

  .right_side .profile #menu-btn span {
    color: var(--color-dark);
  }
}
